[Unit]
Description=Screensaver

[Service]
User=pi
Type=simple
ExecStart=/bin/bash "$HOME/.screensavers/screensaver.sh"

[Install]
WantedBy=multi-user.target
