[Unit]
Description=Screensaver

[Service]
User=pi
Type=simple
ExecStart=/bin/bash /home/pi/.badapple/badapple.sh

[Install]
WantedBy=multi-user.target
