[Unit]
Description=Screensaver

[Service]
User=pi
Type=simple
ExecStart=/bin/bash /home/pi/.screensavers/starfield.sh

[Install]
WantedBy=multi-user.target
